@import "~react-image-gallery/styles/css/image-gallery.css";
@font-face {
  font-family: 'chakra';
  /* src: url('forgotten-futurist.rg-regular.otf') format('truetype'); */
  src: url('ChakraPetch-Regular.ttf') format('truetype');
}


.App {
  text-align: center;
  background-color: #100F12;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logotipo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #100F12;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(220, 215, 221);
  font-family: 'chakra', sans-serif;
  font-weight: 100;
  letter-spacing: 1.5px;
}

.GalleryContainer{
  width: 70vw;
  height: auto;
}

.pageContainer .GalleryContainer{
  width: 35vw;
  height: auto;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  padding-left: 15vw;

  @media (max-width: 768px) {
    width: 80vw;
    padding-left: 5vw;
  }
  @media (max-width: 412px){
    width: 70vw;
    padding-left: 10vw;
    margin: 0;
  }
  @media(max-width: 390px;){
    width: 10vw;
    padding: 0;
    margin: 0;
  }
}

.navlink{
  text-decoration: none;
  color: rgb(220, 215, 221);
}

.Navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: #161617;
  width: 100%;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #3d3b3f; /* White border at the bottom */
}

.Navigation ul{
  margin: 15px;
  padding: 0;
}
.Navigation ul li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Navigation .logo img{
  width: 150px; /* Adjust the size as needed */
  height: auto; /* Maintain aspect ratio */
  padding-left: 105px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.Navigation .logotipo img{
  width: 250px; /* Adjust the size as needed */
  height: auto; /* Maintain aspect ratio */
  margin: 0;
  padding-top: 5px;
  padding-left: 2vw;
}

.DashboardComponent{
  background-color: #161617;
  color: #F0EBFA;
  width: 70vw;
  padding: 2.5vw;
  margin: 15vh;
  border-radius: 10px;

  @media (max-width: 768px) {
    margin: 10vh;
    width: 90vw;
  }
}

.dashGridContainer{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  font-size: small;
  
  /* Estilos para pantallas más pequeñas */
  @media (max-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (min-width: 780px) and (max-width: 1400px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.dashGrid-item{
  padding: 20px;
  /* border: 2px solid #726E76; */
  border-radius: 7px;
  padding: 3px;
  margin: 0;
  transition: background-color 0.3s ease;
  list-style: none;

  @media (max-width: 768px) {
    font-size: 8px;
  }
}

.dashGrid-item img{
  /* border-top-left-radius: 7px; /* Cambia el valor para ajustar el redondeo */
  /* border-top-right-radius: 7px; */
  border-radius: 7px;
  margin: 3px;
}

.dashGrid-item hr{
  padding: 0;
  margin: 0;
}

.dashGrid-item img{
  width: 100%;
  height: auto;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 1px;
}

.dashGrid-item:hover{
  background: rgb(66,57,80);
  background: radial-gradient(circle, rgba(66,57,80,1) 0%, rgba(38,37,41,1) 86%);
 }

.pageContainer{
  /* background-color: #161617; */
  color: #F0EBFA;
  width: 70vw;
  padding: 1vw;
  margin: 8vh;
  border-radius: 10px;

  @media (max-width: 768px) {
    margin: 10vh;
    width: 90vw;
  }
}
.pageContainer .pageSec{
  background-color: #161617;
  border-radius: 10px;
  padding: 1vw;
  margin: 1.5vw;
}

.pageContainer h4{
  @media (max-width: 768px) {
    font-size: large;
  }
}
.pageContainer p{
  @media(max-width: 500px) {
    font-size: 15px;
  }
}

.pageContainer h1{
  text-align: left;
  margin-left: 5vw;
  color: #D6DEE6;
}


.yVideo iframe{
  width: 50vw; /* Ajusta el ancho según tus necesidades */
  height: 55vh; /* Ajusta la altura según tus necesidades */

  @media (max-width: 768px) {
    width: 55vh; /* Ajusta el ancho según tus necesidades */
    height: 50vw; /* Ajusta la altura según tus necesidades */
  }
  @media(max-width: 500px) {
    width: 70vw; /* Ajusta el ancho según tus necesidades */
    height: 50vw; /* Ajusta la altura según tus necesidades */
  }
}

.textoVideo{
  align-items: center;
  text-align: justify;
  margin-left: 10vw;
  margin-right: 10vw;
  font-size: 25px;
  @media (max-width: 768px) {
    margin-left: 5vw;
    margin-right: 5vw;
    font-size: 20px;

  }
}