@import "~react-image-gallery/styles/css/image-gallery.css";
@font-face {
  font-family: 'Futurist';
  src: url('forgotten-futurist.rg-regular.otf') format('truetype');
}


.App {
  text-align: center;
  background-color: #100F12;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logotipo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #100F12;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Futurist', sans-serif;
  font-weight: 100;
  letter-spacing: 1px;
}

.GalleryComponent {
  background-color: #100F12;
  width: 70vw;
  margin-top: 50px;
}

.GalleryContainer {
  background-color: #100F12;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 10vh;
}

.Navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: #161617;
  width: 100%;
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 1px solid #DCDFE7; /* White border at the bottom */
}
.Navigation ul li {
  display: inline;
  list-style-type: none;
}

.Navigation .logo img{
  width: 270px; /* Adjust the size as needed */
  height: auto; /* Maintain aspect ratio */
  padding-left: 15px;
}

.Navigation .logotipo img{
  width: 43px; /* Adjust the size as needed */
  height: auto; /* Maintain aspect ratio */
}

.DashboardComponent{
  background-color: #161617;
  color: #F0EBFA;
  width: 85vw;
  padding: 2.5vw;
  border-radius: 10px;
}

.dashGridContainer{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  font-size: small;
  
  /* Estilos para pantallas más pequeñas */
  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.dashGrid-item{
  padding: 20px;
  border: 2px solid #9AA0A6;
  border-radius: 7px;
}

.dashGrid-item img{
  width: auto;
  height: 10vw;
}

.dashGrid-item:hover{
  border: 2px solid #D6DEE6;
  background-color: #100F12;
}